<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <style>
      @import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
    </style>

    <style>
    @import url('https://fonts.googleapis.com/css?family=Anton|Montserrat&display=swap');
    </style>

<div class="banner-mundo">
  <img src="assets/img/mundo.jpg">
</div>

<div class="imagem-mundo">
<img src="assets/img/homem.jpg" class="mundo-login">
</div>

<div class="nomes-login">
  <h3 class="nome">Jorge Machado</h3>
  <p class="nick">@jorgema9023</p>
</div>

<div class="div-barra">
  <div class="barra"></div>
</div>

<div class="informacoes">

  <div class="titulo"><ion-icon name="home"></ion-icon> Moradia</div>
  <p class="subtitulo">Lages - Santa Catarina</p>

  <div class="titulo"><ion-icon ios="ios-heart" md="md-heart"></ion-icon> Relacionamentos</div>
  <p class="subtitulo">Relacionamento serio com Juliana Martins</p>

  <div class="titulo"><ion-icon ios="ios-bookmark" md="md-bookmark"></ion-icon> Trabalhos</div>
  <p class="subtitulo">Web designer da empresa Code Universe</p>

</div>

<div class="acoes">
  
    <style>
      @import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
    </style>

  <ion-card class="welcome-card">
    <ion-img src="/assets/img/mundofeliz.jpg"></ion-img>
    <ion-card-content>
      <p class="acoes-p"><ion-icon name="arrow-dropright-circle"></ion-icon><br>Ver suas ações</p>
    </ion-card-content>
  </ion-card>

</div>

</ion-content>
